.boxes{
    margin: 20px;
    margin-top: 150px;
    background-color: rgb(190, 190, 230);
    overflow: hidden;
    height: 200px;
    max-height: 35vh;
    box-shadow: 0px 12px 18px -6px black;
    border-radius: 10px;
}

.grids{
    max-width: 50%;
    margin: auto;
}